<div class="wrap">
<form class="searchform" method="get" action="/showpics"  name="searchpics">
	<input class="searchfield" name="r" type="text" value="Type a location or address..." onfocus="if (this.value == 'Type a location or address...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Type a location or address...';}" />
        <!--<input class="searchfield" type="text" placeholder="Type an address or location..."  />-->
	<input class="searchbutton" type="submit" value="Go" />
</form>
</div>

<div class="wrap">
Example: central park ny or 34 street herald sq new york
</div>
